.AutocompletePlace {
  position: relative;
}

.AutocompletePlace-results {
  position: absolute;
  background-color: white;
  padding: 0;
  margin: 0;
  border: 1px solid #00000011;
  font-size: 15px;

}
.jumbotron {
  padding: 4rem 2rem;
  z-index: -1;
}
.Autoinput{
  border:2px solid rgb(72, 72, 104) !important;
  width: 100%;
  border-radius: 1em;

}
.AutocompletePlace-items {
  list-style: none;
  border-bottom: 1px solid black;
  cursor: pointer;
  padding: 10px 10px;
  color:black;  
}

.AutocompletePlace-items:hover {
  background-color: #0000FF11;
}
